---
interface Props {
  id: string;
  label: string;
  value: number;
  isTotal?: boolean;
}

const { id, label, value = 0, isTotal = false } = Astro.props;
---

<div class={`flex justify-between items-center py-2 ${isTotal ? "border-t border-gray-200 mt-2 pt-4" : ""}`}>
  <span class="text-gray-600 text-sm">{label}</span>
  <div class="text-gray-900" id={`${id}-result`}>
    ${value.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 })} USD
  </div>
</div> 