---
import SiteLayout from '../../layouts/SiteLayout.astro';
import { calculatorMap } from '../../data/calculators';

export function getStaticPaths() {
  const paths = Object.keys(calculatorMap).map(id => ({
    params: { id }
  }));
  return paths;
}

const { id } = Astro.params;
const calculator = calculatorMap[id];

if (!calculator) {
  return Astro.redirect('/calculators');
}
---

<SiteLayout title={calculator.name}>
  <div id="calculator" data-config={id} data-calculator={JSON.stringify(calculator)}></div>
</SiteLayout>

<script is:inline src="/calculator.js"></script>